name: docker
on:
  workflow_dispatch:
  push:
    paths:
      - Dockerfile
      - internal/**
      - main.go
    branches:
      - main

env:
  PRODUCTION_ECR_REGISTRY: 253189827591.dkr.ecr.us-east-2.amazonaws.com
  ECR_NAME: devops

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam::253189827591:role/GITHUB_DOCKER_BUILDER
          role-skip-session-tagging: true
          role-duration-seconds: 1800

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: 253189827591.dkr.ecr.us-east-2.amazonaws.com/devops
          tags: |
            type=sha,enable=true,prefix=metis-bridge-rebate-,suffix=,format=short

      - name: Build and push
        id: docker-build-push
        uses: docker/build-push-action@v5
        timeout-minutes: 10
        with:
          file: Dockerfile
          push: true
          pull: true
          tags: ${{ steps.docker-meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
